# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
APIOAuth2/.classpath
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
APIOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
APIOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
APIOAuth2/.settings/org.eclipse.wst.common.component
AplicationOAuth2/.classpath
AplicationOAuth2/.gradle/4.10/fileChanges/last-build.bin
AplicationOAuth2/.gradle/4.10/fileContent/fileContent.lock
AplicationOAuth2/.gradle/4.10/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.10/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.10/gc.properties
AplicationOAuth2/.gradle/4.10/javaCompile/classAnalysis.bin
AplicationOAuth2/.gradle/4.10/javaCompile/javaCompile.lock
AplicationOAuth2/.gradle/4.10/javaCompile/taskHistory.bin
AplicationOAuth2/.gradle/4.10/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.10/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AplicationOAuth2/.gradle/buildOutputCleanup/cache.properties
AplicationOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
AplicationOAuth2/.gradle/vcs-1/gc.properties
AplicationOAuth2/build/tmp/war/MANIFEST.MF
.DS_Store
APIOAuth2/.classpath
APIOAuth2/.classpath
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
APIOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
APIOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
APIOAuth2/.settings/org.eclipse.wst.common.component
AplicationOAuth2/.classpath
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AplicationOAuth2/.gradle/buildOutputCleanup/cache.properties
AplicationOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
AplicationOAuth2/build/tmp/war/MANIFEST.MF
*.bin
*.lock
*.component
*.properties
AplicationOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
AplicationOAuth2/.gradle/buildOutputCleanup/cache.properties
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AplicationOAuth2/build/tmp/war/MANIFEST.MF
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
.metadata/.plugins/org.eclipse.buildship.core/project-preferences/APIOAuth2
.metadata/.plugins/org.eclipse.buildship.core/project-preferences/AplicationOAuth2
.metadata/.plugins/org.eclipse.buildship.core/project-preferences/oAuth2
.metadata/.plugins/org.eclipse.core.resources/.history/10/20dc94a769a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/16/504e9f049da4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/16/908509ac26b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/18/40a6eed622b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/18/a055cef277a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/1a/00f4a6199ea4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/1a/104b9d3be1a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/1b/507e7a6684a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/1e/a05f3dbb6da500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/1f/004c4f9076a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/20/80eceb6fd9a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/24/601970d669a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/2c/40913ca43fb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/2d/107381f4e6a300181f4289fb96a56b62
.metadata/.plugins/org.eclipse.core.resources/.history/2d/7006f3d93fb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/31/30748a37dca0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/35/80ce15f976a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/35/80f2e4f9bfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/3a/6065baebe0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/3b/e0696543e8a300181f4289fb96a56b62
.metadata/.plugins/org.eclipse.core.resources/.history/3c/c00f6aa323b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/42/109c56c2b9a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/42/a0f6e44c84a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/43/b0b8223626b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/45/e0ca6e3dbfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/46/40acc8eedfa0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/47/20dd336b83a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/49/200ef18e25b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/4b/a0c5251877a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/4d/a0dce38179a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/4d/b0c1f2a1bfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/51/400493bddfa0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/54/e02c07c33db500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/57/d028c6fb73a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/58/00d1c8cc3fb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/5b/90da52fe3fb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/5e/b0a467af26b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/5e/d0af2d50e0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/5f/d0b3715c40b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/61/d032bb5f84a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/64/20ef3153e0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/66/20a1634adda0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/69/10689c3283a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/6a/806311b1e2a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/71/2042cafb60a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/73/00a38948e8a300181f4289fb96a56b62
.metadata/.plugins/org.eclipse.core.resources/.history/73/90474adabfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/77/10a9d03adda0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/77/500a8e393eb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/77/5047512e77a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/78/40f676b571a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/78/e0c4653076a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/7a/100f8092dea0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/7a/702420d29ea4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/81/30fbc46d76a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/84/a006a36863a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/84/e0aa48bd6ba500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/88/20a6ce21bfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/88/6008a3e7e0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/89/90703e5284a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/89/c0e7ab0ee7a300181f4289fb96a56b62
.metadata/.plugins/org.eclipse.core.resources/.history/8b/a01d7f5c63a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/8b/e08ec54f64a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/8d/201f0f8ae2a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/9/c02b82a7b9a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/90/c0aa5c1f7aa500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/91/3045656279a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/92/b0a28996d9a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/93/20e122dddca0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/93/c0567ecf6aa500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/94/607519aa26b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/9c/a0e815cd72a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/a/c00108b668a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/a2/20e587a173a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/a2/d0960bea68a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/a4/7042d910c0a4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/a5/00468e8584a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/a8/30418876bfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/a8/70e466db6aa500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/ab/70a560686ea500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/ab/e03c927be0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/b0/000e6e62e8a300181f4289fb96a56b62
.metadata/.plugins/org.eclipse.core.resources/.history/b0/108bb75dd8a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/b0/906d5c6263a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/b2/607ae3d473a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/b3/208501a961a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/b3/d00ede7523b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/b4/e09bf332b9a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/b8/5032b84f6da500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/b8/b03fcc9668a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/bb/501e117873a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/bd/d00bf3ca76a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/bd/f012848ae0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/bf/509b24a4d9a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/c0/b0cd5f0c26b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/c5/d090e1fd99a4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/c9/30a116eae5a300181f4289fb96a56b62
.metadata/.plugins/org.eclipse.core.resources/.history/ca/602cc631bfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/d4/90e80849dca0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/d4/a018592222b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/d6/a00e50b2bfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/de/400cea263fb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/df/200274c423b500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/e/a0eaf6603cb500181a958289ea54dbf4
.metadata/.plugins/org.eclipse.core.resources/.history/e0/a07c19ed74a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/e5/103ff21078a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/e7/f00f0187c0a4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/e8/20a6e6207aa500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/e9/a05a3f1c79a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/eb/805ac05273a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/ef/d01d262abfa4001812f6e9d9e789fd33
.metadata/.plugins/org.eclipse.core.resources/.history/f1/202e451ae0a0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.history/f2/00eda4d864a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/fd/d0ff86a771a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/ff/302e24b182a500181815faa3caab5155
.metadata/.plugins/org.eclipse.core.resources/.history/ff/b0a13cc4dba0001817e8e7fbc2faddaa
.metadata/.plugins/org.eclipse.core.resources/.projects/APIOAuth2/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/APIOAuth2/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/APIOAuth2/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/22/81/3b/92/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/22/81/3b/a2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/b3/3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/b3/49/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/b3/a8/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/b3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.indexes/e4/b9/b3/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/AplicationOAuth2/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/oAuth2/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/oAuth2/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/oAuth2/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/23.tree
.metadata/.plugins/org.eclipse.core.resources/.root/24.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/23.snap
.metadata/.plugins/org.eclipse.core.resources/24.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1562746863.index
.metadata/.plugins/org.eclipse.jdt.core/18756725.index
.metadata/.plugins/org.eclipse.jdt.core/4236850133.index
.metadata/.plugins/org.eclipse.jdt.core/445870236.index
.metadata/.plugins/org.eclipse.jdt.core/766164984.index
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/867581334.index
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/2984927559.translator
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_f_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_g.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_g_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_h.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_g
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_i
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_a.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_a_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_b.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_b_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_c.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_c_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_d.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_d_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_e.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_e_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_f.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_f_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_g.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_g_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_h.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/_k.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/segments_i
.metadata/.plugins/org.eclipse.m2e.core/nexus/26ce5e787e4c313669df0fe0bbd61905/segments_k
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_f_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_g.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_g_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_h.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_g
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_i
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1028036635.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3126251173.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3206843225.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/388340146.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/896129658.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.jboss.tools.central/images/1185478638/images%2Fwizards%2Fnew_m2_project.gif
.metadata/.plugins/org.jboss.tools.central/images/135397768/images%2Fwizards%2Fjbossforge_icon_16px.png
.metadata/.plugins/org.jboss.tools.central/images/1542570599/images%2Fwizards%2Fhtml5.png
.metadata/.plugins/org.jboss.tools.central/images/1554070009/images%2Ffuse_integration_wizard.png
.metadata/.plugins/org.jboss.tools.central/images/162854859/images%2Fwizards%2Fnewwebprj_wiz.gif
.metadata/.plugins/org.jboss.tools.central/images/1662470873/images%2Fwizards%2Fopenshift-logo-white-icon.png
.metadata/.plugins/org.jboss.tools.central/images/1728655587/images%2Fwizards%2Fjbossforge_icon_16px.png
.metadata/.plugins/org.jboss.tools.central/images/1753961274/images%2Fwizards%2Fopenshift-logo-white-icon.png
.metadata/.plugins/org.jboss.tools.central/images/1761306310/images%2Fwizards%2Fnewwebprj_wiz.gif
.metadata/.plugins/org.jboss.tools.central/images/1877495838/images%2Fwizards%2Fjbossforge_icon_16px.png
.metadata/.plugins/org.jboss.tools.central/images/1884173908/images%2Fwizards%2Fnewwebprj_wiz.gif
.metadata/.plugins/org.jboss.tools.central/images/203106412/images%2Fwizards%2Fhtml5.png
.metadata/.plugins/org.jboss.tools.central/images/2091410209/images%2Ffuse_integration_wizard.png
.metadata/.plugins/org.jboss.tools.central/images/2118615162/images%2Fwizards%2Fhtml5.png
.metadata/.plugins/org.jboss.tools.central/images/2142870995/images%2Fwizards%2Fnew_m2_project.gif
.metadata/.plugins/org.jboss.tools.central/images/44381442/images%2Ffuse_integration_wizard.png
.metadata/.plugins/org.jboss.tools.central/images/802133933/images%2Fwizards%2Fnew_m2_project.gif
.metadata/.plugins/org.jboss.tools.central/images/815798612/images%2Fwizards%2Fopenshift-logo-white-icon.png
.metadata/.plugins/org.jboss.tools.central/jboss_buzz.xml
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.contributions.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.contributors.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.extraData.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.mainData.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.manager/.fileTable.8
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.manager/.fileTable.9
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.manager/.fileTableLock
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.namespaces.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.orphans.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1534864746138/.rcache/.table.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.contributions.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.contributors.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.extraData.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.mainData.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.manager/.fileTable.7
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.manager/.fileTable.8
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.manager/.fileTableLock
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.namespaces.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.orphans.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1535472141520/.rcache/.table.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.contributions.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.contributors.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.extraData.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.mainData.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.manager/.fileTable.8
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.manager/.fileTable.9
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.manager/.fileTableLock
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.namespaces.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.orphans.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536415023209/.rcache/.table.2
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.contributions.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.contributors.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.extraData.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.mainData.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.manager/.fileTable.7
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.manager/.fileTable.8
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.manager/.fileTableLock
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.namespaces.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.orphans.1
.metadata/.plugins/org.jboss.tools.central/proxyWizards/1536598908416/.rcache/.table.1
.metadata/.plugins/org.jboss.tools.central/valid_jboss_buzz.xml
.metadata/.plugins/org.jboss.tools.foundation.core/ECF_REMOTE_CACHE/5901044f75ddb1f9bbe6e735188d0cfb8afa3325-3600728166114524290.tmp
.metadata/.plugins/org.jboss.tools.foundation.core/ECF_REMOTE_CACHE/ad3e417d20abdea71e86f550c1be41ac94c872254181508140072349102.tmp
.metadata/.plugins/org.jboss.tools.foundation.core/ECF_REMOTE_CACHE/URLTransportCache.cacheIndex.properties
.metadata/.plugins/org.jboss.tools.project.examples/quickstarts-json/6b9acd894ddf7033b2877ef97e2729f2f83c1b27-4644458538802754571.tmp
.metadata/.plugins/org.jboss.tools.project.examples/quickstarts-json/URLTransportCache.cacheIndex.properties
.metadata/version.ini
AplicationOAuth2/.gradle/4.9/fileContent/fileContent.lock
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AplicationOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
