# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
APIOAuth2/.classpath
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
APIOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
APIOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
APIOAuth2/.settings/org.eclipse.wst.common.component
AplicationOAuth2/.classpath
AplicationOAuth2/.gradle/4.10/fileChanges/last-build.bin
AplicationOAuth2/.gradle/4.10/fileContent/fileContent.lock
AplicationOAuth2/.gradle/4.10/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.10/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.10/gc.properties
AplicationOAuth2/.gradle/4.10/javaCompile/classAnalysis.bin
AplicationOAuth2/.gradle/4.10/javaCompile/javaCompile.lock
AplicationOAuth2/.gradle/4.10/javaCompile/taskHistory.bin
AplicationOAuth2/.gradle/4.10/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.10/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AplicationOAuth2/.gradle/buildOutputCleanup/cache.properties
AplicationOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
AplicationOAuth2/.gradle/vcs-1/gc.properties
AplicationOAuth2/build/tmp/war/MANIFEST.MF
.DS_Store
APIOAuth2/.classpath
APIOAuth2/.classpath
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
APIOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
APIOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
APIOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
APIOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
APIOAuth2/.settings/org.eclipse.wst.common.component
AplicationOAuth2/.classpath
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.bin
AplicationOAuth2/.gradle/4.9/fileHashes/fileHashes.lock
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.bin
AplicationOAuth2/.gradle/4.9/taskHistory/taskHistory.lock
AplicationOAuth2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
AplicationOAuth2/.gradle/buildOutputCleanup/cache.properties
AplicationOAuth2/.gradle/buildOutputCleanup/outputFiles.bin
AplicationOAuth2/build/tmp/war/MANIFEST.MF
*.bin
*.lock
*.component
*.properties
